{% extends 'base.html.twig' %}

{% block title %}Module monitoring - Historique{%
endblock %} 

{% block javascripts %} 
<script src="{{asset('js/generate_data.js ')}}"></script>

{% endblock %}

{% block body %}

<div class="layout">
  <div id="infoContainer">
    
<div class="infoCell">
  <p><strong>Type de module: </strong><br>{{ info.type }}</p>
</div>
<div class="infoCell">
<p><strong>Description: </strong><br>{{ info.description }}</p>
</div>
<div class="infoCell">
<p><strong>Capacité maximum: </strong><br>{{ info.capaciteMax }}</p>
</div>


</div>
  <div id="histoContainer">

    <canvas id="lineCanvas" aria-label="chart" role="img" data-chart-data="{{ chartData | e('html_attr') }}"></canvas>
    
  </div>
</div>


{% endblock %}